:root {
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 20px;
  --margin-xlarge: 30px;

  --font-small: 20px;
  --font-medium: 24px;
  --font-large: 30px;
  --font-xlarge: 36px;
}

body {
  margin: 0;
}
