li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
