li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}
.lineFirst,
.lineLast {
  border-bottom: 1px solid black;
  margin: 20px 40px;
  margin-top: 0;
}
.noProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noProduct button {
  margin-bottom: var(--margin-xlarge);
  border: none;
  border: 1px solid #c0c0c0;
  background-color: white;
  padding: var(--margin-medium);
  cursor: pointer;
}
.informations {
  display: flex;
}
.list {
  width: 60vw;
}
.list h1 {
  margin-right: 20px;
  margin-left: 20px;
}
.price {
  width: 30vw;
  margin: 0px 60px;
  padding-top: 70px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 1;
}
.price .lineFirst {
  margin: 20px 0;
}
.price .lineLast {
  margin: 10px 0;
  border-bottom: 0.5px solid black;
}
@media (max-width: 767px) {
  li {
    margin-left: 15px;
    margin-right: 15px;
    width: 95vw;
    justify-content: space-between;
  }
  .informations {
    flex-direction: column;
  }
  .list,
  .price {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .list h1,
  .price h1 {
    font-size: 18px;
    margin: 0;
  }
  .lineFirst,
  .lineLast {
    border-color: #e7e7e7;
    margin: 0;
  }
  .price .lineFirst {
    margin-bottom: 0;
  }
  .price .lineLast {
    border-color: #e7e7e7;
    margin: 0 20px;
  }
}
