.frame div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  position: absolute;
  top: 18%;
  left: 16px;
  width: 15px;
  height: 15px;
  font-size: 9px;
  text-align: center;
  background-color: #cc3333;
  color: white;
  border-radius: 50%;
}
