.cartImage {
  width: 100px;
}
.productInfo {
  display: flex;
}
.text {
  display: flex;
  flex-direction: column;
}
.text span {
  margin: 5px 5px;
  width: 200px;
}
.option {
  color: gray;
  font-size: 13px;
}
.price {
  font-size: 18px;
  font-weight: 800;
  padding-top: 20px;
}

.minusBtn,
.plusBtn,
.deleteBtn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 4px;
  outline: 0;
  background-color: transparent;
}

.btns button:hover {
  background-color: black;
  color: white;
}
.minusBtn {
  margin-right: 10px;
}
.plusBtn {
  margin-left: 10px;
}
.deleteBtn {
  padding: 5px 5px;
}
.deleteBtn:hover {
  background-color: black;
  color: white;
}
