li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}
.lineFirst,
.lineLast {
  border-bottom: 1px solid black;
  margin: 20px 40px;
}

.informations {
  display: flex;
  height: 1000vh;
}
.list {
  width: 60vw;
}
.price {
  width: 30vw;
  margin: 100px 60px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 1;
}
.price .lineFirst {
  margin: 20px 0;
}
.price .lineLast {
  margin: 10px 0;
  border-bottom: 0.5px solid black;
}
