li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}
.line {
  border-bottom: 1px solid black;
  margin: 20px 40px;
}

.informations {
  display: flex;
}
.list {
  width: 60vw;
}
.price {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e0e0e0;
  margin: 0px 60px;
  border-radius: 20px;
}
