.inactive {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 0;
  animation: inactive 250ms ease-in-out;
  opacity: 0;
}
.active {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 0;
  animation: active 250ms ease-in-out;
  opacity: 1;
}
@keyframes active {
  100% {
    opacity: 1;
  }
}

@keyframes inactive {
  100% {
    opacity: 0;
  }
}
