.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 파일 업로드 부분 */
.imgAndUpload {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

/* 파일 업로드 박스 */
.fileBox {
  display: flex;
  justify-content: space-between;
}
.imageName {
  border: none;
  background-color: transparent;
}

.upload {
  display: none;
}
.fileBox label {
  background-color: black;
}

/* 텍스트 입력 부분 */
.inputs {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-medium);
}

.name,
.price,
.category,
.description,
.option {
  width: 200px;
  height: 30px;
  margin-bottom: var(--margin-small);
  border: 1px solid black;
  padding-left: var(--margin-medium);
}
