.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c0;
  padding: var(--margin-xlarge) calc(var(--margin-xlarge) * 2);
}
form span {
  margin-bottom: var(--margin-xlarge);
  font-size: var(--font-medium);
}
/* 파일 업로드 부분 */
.imgAndUpload {
  margin-bottom: var(--margin-xlarge);
}
.image {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-xlarge);
  align-items: center;
}
.image img {
  width: 200px;
  height: 200px;
}

/* 파일 업로드  */
.fileBox {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c0c0c0;
  padding-left: var(--margin-small);
}
.imageName {
  border: none;
  background-color: transparent;
  width: 300px;
}

.upload {
  display: none;
}
.label {
  background-color: black;
  padding: var(--margin-medium);
  color: white;
  font-size: var(--font-xsmall);
  cursor: pointer;
}

/* 텍스트 입력 부분 */
.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.name,
.price,
.category,
.description,
.option {
  border: none;
  height: 25px;
  margin-bottom: var(--margin-large);
  border-bottom: 1px solid #c0c0c0;
  padding-left: var(--margin-small);
}

.name:focus,
.price:focus,
.category:focus,
.description:focus,
.option:focus {
  outline: none;
  border-bottom: 1px solid black;
}

/* 버튼 */
.buttons {
  display: flex;
  justify-content: space-between;
}
.registerBtn,
.goToHomeBtn {
  background-color: black;
  border: none;
  padding: var(--margin-medium) var(--margin-xlarge);
  margin: var(--margin-small);
  color: white;
  cursor: pointer;
}
.goToHomeBtn {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.registerBtn {
  color: #c0c0c0;
}
