.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: var(--margin-xlarge) calc(var(--margin-xlarge) * 2);
}

/* 파일 업로드 부분 */

.image {
  display: flex;
  flex-direction: column;
}

/* 파일 업로드  */
.fileBox {
  display: flex;
  justify-content: space-between;
}
.imageName {
  border: none;
  background-color: transparent;
}

.upload {
  display: none;
}
.label {
  background-color: gray;
  padding: var(--margin-medium);
  color: white;
  font-size: var(--font-xsmall);
  cursor: pointer;
}

/* 텍스트 입력 부분 */
.inputs {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-medium);
}

.name,
.price,
.category,
.description,
.option {
  width: 200px;
  height: 30px;
  margin-bottom: var(--margin-small);
  border: 1px solid black;
  padding-left: var(--margin-medium);
}

.name:focus,
.price:focus,
.category:focus,
.description:focus,
.option:focus {
  outline: 1px solid gray;
}

/* 버튼 */
.register,
.goToHome {
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: var(--margin-medium) var(--margin-xlarge);
  margin: var(--margin-small);
  color: white;
  cursor: pointer;
}
.inputs div {
  display: flex;
  justify-content: space-around;
}
.goToHome {
  background-color: white;
  border: 1px solid black;
  color: black;
}
