.main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80%;
}

.imgAndUpload {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.name {
  width: 100%;
}
