.all,
.man,
.woman {
  padding: var(--margin-medium) calc(var(--margin-xlarge) * 2);
  margin: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.select {
  background-color: black;
  color: white;
}
/* 모바일 화면 */
@media (max-width: 767px) {
  .all,
  .man,
  .woman {
    padding: var(--margin-medium) var(--margin-medium);
  }
}
