header {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-small);
}

.menu {
  display: flex;
}

.logoAndImage {
  display: flex;
  align-items: center;
}
.logoImage {
  width: 50px;
  height: 50px;
}
.logo {
  font-size: var(--font-large);
  cursor: pointer;
  margin: var(--margin-small);
}
.cart {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cartText {
  margin: var(--margin-small);
  font-size: var(--font-small);
}
.login {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-small);
}
