header {
  position: sticky;
  top: 0;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-small);
  padding-bottom: var(--margin-small);
  border-bottom: 0.5px solid black;
}

.menu {
  display: flex;
}

.logoAndImage {
  display: flex;
  align-items: center;
  margin-left: var(--margin-medium);
}
.logoImage {
  width: 50px;
  height: 50px;
}
.logo {
  font-size: var(--font-large);
  cursor: pointer;
  margin: var(--margin-medium);
}
.cart,
.edit,
.delete {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cart {
  position: relative;
}
.cartText,
.editText,
.deleteText {
  margin: var(--margin-small);
  font-size: var(--font-small);
}

.login {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-small);
  margin-right: var(--margin-large);
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
  }
}
