header {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-small);
}

.menu {
  display: flex;
}

.cart {
  border: none;
}
.login {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
