main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
}
.frame {
  width: 60%;
}
.logo {
  font-size: var(--font-xxlarge);
  margin: var(--margin-large);
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id,
.password {
  width: 90%;
  height: 30px;
  margin: var(--margin-small);
}
