.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid #c0c0c0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--margin-medium);
  width: 250px;
  height: 70px;
}
.close {
  display: none;
}

.btn {
  border: 1px solid #c0c0c0;
  border-radius: 0;
  padding: 5px 10px;
  width: 30%;
  background-color: black;
  color: white;
}
