.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: var(--margin-medium);
  width: 250px;
  height: 60px;
}
.close {
  display: none;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.yes,
.no {
  border-radius: 0;
  padding: 5px 10px;
}
