.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  display: flex;
}

.image {
  width: 400px;
  height: 500px;
}

/* 제품 정보 */
.information {
  margin-left: calc(var(--margin-medium) * 5);
  width: 400px;
}

.category {
  color: #909090;
  margin-bottom: 4px;
}
.name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}
.priceBox {
  display: flex;
}
.priceBox div:last-child {
  font-weight: 700;
}

/* 옵션 선택바 */
select {
  width: 100%;
  border: solid 1px black;
  padding: var(--margin-medium) var(--margin-small);
  margin-bottom: 30px;
}

/* 버튼 */
.btns {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex: 1 1 150px;
}
.addBtn {
  padding: calc(var(--margin-medium) * 1.5) var(--margin-large);
  background-color: black;
  color: white;
}
.payBtn {
  padding: calc(var(--margin-medium) * 1.5) var(--margin-large);
}

p {
  font-size: var(--font-min);
}

.line {
  border: 0.5px solid #e0e0e0;
}
