.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  display: flex;
}

.image {
  width: 400px;
  height: 600px;
}

/* 제품 정보 */
.information {
  padding: calc(var(--margin-medium) * 3);
  border: 0.5px solid #e0e0e0;
  width: 400px;
}

.category {
  color: #909090;
  margin-bottom: 4px;
}
.name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}
.priceBox {
  display: flex;
  padding-bottom: 10px;
}
.price {
  margin-left: 50px;
  font-weight: 700;
}

/* 옵션 선택바 */
select {
  width: 100%;
  border: solid 1px #c0c0c0;
  padding: var(--margin-medium) var(--margin-small);
  margin-bottom: 30px;
  margin-top: 10px;
}

/* 버튼 */
.btns {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.addBtn,
.payBtn {
  padding: calc(var(--margin-medium) * 1.5) var(--margin-large);
  flex: 1 1 150px;
  margin-right: 5px;
  font-size: 18px;
  border-radius: 0%;
}

.payBtn {
  background-color: black;
  color: white;
}
.addBtn {
  border: 1px solid #c0c0c0;
}

.line {
  border: 0.5px solid #e0e0e0;
}
.optionText,
.priceText {
  color: #808080;
  font-size: 15px;
}
.optionText {
  padding-top: 5px;
}

.message {
  color: blue;
  font-size: var(--font-small);
}
