.main {
  display: flex;
  flex-direction: column;
}

.image {
  margin-bottom: var(--margin-small);
}

.category {
  font-size: var(--font-xsmall);
  color: #909090;
  margin-bottom: var(--margin-small);
}
