.frame {
  display: flex;
  justify-content: center;
}

ul {
  width: 80%;
  padding: 0;
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px 30px;
}

button {
  outline: none;
}
