.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  display: flex;
}

.image {
  width: 400px;
}
.information {
  margin-left: var(--margin-medium);
}
