.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  display: flex;
}

.image {
  width: 400px;
  height: 500px;
}

.information {
  margin-left: var(--margin-medium);
}
.category {
  color: #909090;
}
