.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.email,
.password {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email input,
.password input {
  width: 250px;
  height: 30px;
  margin: var(--margin-medium) 0;
  border: 0.5px solid black;
  border-radius: 4px;
  font-size: var(--font-small);
}

.email input:focus,
.password input:focus {
  outline: 1px solid black;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  /* width: 300px; */
}
.btns * {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: var(--margin-large);
  padding: calc(var(--margin-large) / 1.5) calc(var(--margin-large) * 2);
  /* font-size: var(--font-small); */
}
.registerBtn {
  color: white;
  background-color: black;
}
.homeBtn {
  padding: 0;
}
.cancelBtn {
  background-color: white;
  border: 1px solid black;
}
